*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(202, 203, 204);
}
.header{
    padding: 1rem;
    color: #ffffff;
}
.botonera_principal{
    border-left: 1rem solid #80C141;
    background-color: #ffffff;
    padding: 2rem;
}
.botonera_principal ul{
    list-style-type: none;
}
.botonera_principal ul li, .tienda_botonera ul li{
    display: inline-block;
    padding-left: 0.8rem;
}
.botonera_principal a, .tienda_botonera a {
    color: black;
    text-decoration: none;
}

.cursos{
    padding: 1rem;
    background-color: rgb(180, 180, 219);
}
.contenido{
    background-color: rgb(170, 224, 178);
    padding: 1rem;
}


/* ---------------Tienda */
.tienda_contenido{
    padding: 2rem;
}
.contendor_img{
    width: 25%;
}
.contendor_img img{
    width: 100%;
}